
<div class="row">
  <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1>About Park Place Tower</h1>

      <p>
      The tower was initially built in 1971.
      The entire building was completely renovated and converted
      to a condominium building in a multi-million dollar project
       that lasted from 2001 until 2006.
       </p>

      <h2>Design awards</h2>

      <p>
      The Tower's redesign has earned many awards, including:
        <ul>
          <li>The Interior Design Institute of British Columbia's Best in Show for 2002
          <li>The Interior Design Institute of British Columbia's Gold Medal Award of Excellence for 2002
          <li>The Home Builders Association of Greater Chicago's Silver "Key Award" - Best Overall Community, Urban for 2002
          <li>The Home Builders Association of Greater Chicago's Silver "Key Award" - Clubhouse/Club Center, Urban for 2002
          <li>The Home Builders Association of Greater Chicago's Silver "Key Award" - Lobbies for 2002
        </ul>
      </div>
  <div class="col-xs-2"></div>
</div>
