<h1>Lifestyle and Ameninties</h1>

<h2>Pool</h2>
<p>Our stylish outdoor pool is surrounded by a generous sundeck,
  privately owned cabanas, and a nicely decorated garden terrace.
  There's even a kiddie pool, complete with water jets to bring out
  the kid in everyone. The pool season is normally open from Memorial
  Day weekend through the Labor Day weekend.</p>

<h2>Sundeck</h2>
<p>The recently remodeled sun deck contains numerous amenities
  including two large tents, barbecue grills, a basketball court,
  bag toss, deck chairs, park benches, and rest rooms. Enjoying a
  summer afternoon or evening grilling steaks on the barbecue while
  hanging out with friends is what summer at Park Place Tower is all
  about.</p>

<h2>Fitness Center</h2>
<p>Park Place Tower offers a fully equipped Fitness Center for the
  exclusive use of our residents. The Fitness Center features a range
  of state-of-the-art equipment that will satisfy the needs of the
  serious athlete as well as the casual trainer. Our cardio-vascular
  area includes treadmills, stair climbers, exercise bikes, and
  elliptical trainers. Strengthening and toning enthusiasts will enjoy
  a wide assortment of free weights and a well planned collection of
  targeted strength training machines. For your convenience, the Fitness
   Center is open around the clock every day. </p>

<h2>Theater</h2>
<p>Park Place Tower is home to a state-of-the-art theatre, and a
  multi-functional party room. The Theatre, which serves as a private
  screening room for Park Place Tower owners and renters, has
  comfortable chairs and seats up to 12. It is the perfect venue
  for movie groups, book clubs, sports enthusiasts, and special events.
  The Party Room is fully equipped with: sectional seating and TV/DVD
  setup for small group viewing, and conversation; three card/game
  tables; a baby grand piano; and a separate area with a pool table.
   The Park Place Tower Party Room has something for everyone. A full
   kitchen, with oven, microwave, refrigerator, sink, and food-prep
   island is available for use with either the Theatre or Party Room.</p>
