
<div class='row'>
    <div class='col-xs-2'></div>
    <div class='col-xs-8'>
        <h1>Unit #{{ listing.unit }}</h1>
        <h4>Listing Price: ${{ listing.price }}</h4>
        
        <strong>Bedrooms:</strong> {{ listing.bedrooms}}
        <br>
        <strong>Bathrooms:</strong> {{ listing.bathrooms }}
        <h4>Description:</h4>
        <p> {{ listing.description }} </p>
        
        <a href='#' ng-click="deleteListing(listing)">Delete</a>
    </div>
    <div class='col-xs-2'></div>
</div>