<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>ParkPlaceRedesign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js'></script>
  </head>

  <body>
    <div class='nav'>
      <a ui-sref='home'>Home</a>
      <a ui-sref='about'>About</a>
      <a ui-sref='explore'>Explore</a>
      <a ui-sref='lifestyle'>Lifestyle</a>
      <a ui-sref='listings'>Listings</a>
    </div>
    <div ui-view>
      <%= yield %>
    </div>
  </body>
</html>
