<!DOCTYPE html>
<html>
  <head>
    <title>ParkPlaceRedesign</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
